<div id="about" class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row text-center mx-auto pb-1">
            <h5 class="text-uppercase text-primary">Who We are?</h5>
        </div>
        <div class="row g-5">
            <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Mission</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Vision</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    Jesteśmy firmą, która wierzy, że każde posadzone drzewo przyczynia się do tworzenia lepszej przyszłości dla naszej planety. W GreenPlanet Tree Planting Company nie tylko sadzimy drzewa - zasadzamy nadzieję, troskę o środowisko i miłość do natury.
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    Nasza misja jest prosta, ale znacząca: sadzimy drzewa, by ocalić naszą planetę. Działamy lokalnie i globalnie, angażując społeczności, firmy i jednostki do działania na rzecz ochrony środowiska. Każde drzewo, które sadzimy, to krok w kierunku zrównoważonej przyszłości dla naszych dzieci i wnuków.
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    Nasi doświadczeni specjaliści dbają o to, aby każde drzewo zostało posadzone w najlepszym możliwym miejscu i aby rosło zdrowo przez wiele lat. Dzięki naszej pracy, razem, krok po kroku, tworzymy zielone, oddechowe przestrzenie, które stanowią oazę życia dla naszej planety.
                </div>
            </div>
        </div>
    </div>
</div>