@page "/"

<PageTitle>Grove</PageTitle>

<div data-bs-spy="scroll" data-bs-target="#navbar-example" data-bs-offset="0" tabindex="0">

    <NavMenu />

    <MainView />
    <About />
    <WhereWePlant />
    <PlantATree />
    <Contact />

</div>