@inject IStringLocalizer<MainView> Localizer;

<div id="home" class="container-fluid carousel-header vh-100 px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="img/carusele-forest.png" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-2" style="letter-spacing: 3px;">@Localizer["Let's protect the environment"]</h4>
                        <h1 class="display-1 text-capitalize text-white mb-4 h1-title">@Localizer["Together we'll save our planet"]</h1>
                        <p class="mb-5 fs-5">
                            @Localizer["Join us and let's take care of our planet together by planting forests."]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
