<div id="where">
    <div class="bg-img vw-100">
        <div class="h-100 w-100 d-flex align-items-center" style="background-color: rgba(0,0,0,0.4);">
            <div class="container  py-5">
                <div class="justify-content-center">
                    <div class="text-center">
                        <h3 class="text-white text-uppercase mb-3" style="letter-spacing: 3px;">Where We plant?</h3>
                        <p class="text-white">W GreenPlanet współpracujemy z lokalnymi firmami i instytucjami na całym świecie, aby sadzić drzewa tam, gdzie są one najbardziej potrzebne. Dzięki naszym partnerstwom możemy oferować naszym klientom możliwość wyboru lokalizacji, w której chcą posadzić drzewo. Niezależnie od tego, czy chcesz wesprzeć odbudowę lasów w Amazonii, zazielenić obszary miejskie w Europie, czy przywrócić zniszczone tereny leśne w Afryce, z GreenPlanet masz możliwość uczynienia różnicy tam, gdzie jest to najbardziej potrzebne.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
