@page "/corelogin"
@using Grove.Transfer.Auth.Data
@using Grove.Transfer.Auth.Command
@using MediatR

@rendermode InteractiveServer

@using Grove.Logic.Abstraction
@using Grove.Transfer.Auth.Command
@using Grove.Transfer.Auth.Data
@using MediatR

@inject NavigationManager _navigationManager
@inject IAuthService _userService
@inject IMediator _mediator

<PageTitle>Login</PageTitle>

<div class="container mt-4">

    <h3>Login</h3>

    <EditForm FormEmail="Login" Model="user" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="name">Email</label>
            <InputText id="name" @bind-Value="user.Email" class="form-control" />
            <ValidationMessage For="@(() => user.Email)" />
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" class="form-control" type="password" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>

    <div class="text-danger">
        <span>@errorMessage</span>
    </div>

</div>

@code {
    private LoginDto user = new LoginDto();

    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        try
        {
            var result = await _mediator.Send(new AuthCommand { Email = user.Email, Password = user.Password });
            errorMessage = string.Empty;

            // await LocalStorage.SetItemAsync("authToken", result.Data);
            _navigationManager.NavigateTo("/coreadmin");
        }
        catch (Exception)
        {
            errorMessage = "Invalid Email or Password!";
        }
    }

    public class LoginDto
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}

